{% extends 'base.html' %}
{% block content %}




  
    <!--================product Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                          
                            <tr>
                               
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="{{url_for('static', filename='img/product/' + product.image)  }}" width="150px" height="150px" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p> {{ product.title }} </p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5> $ {{ product.price }} </h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
                                            class="input-text qty">
                                       
                                    </div>
                                </td>
                               
                            </tr>
                         
                        
                           
                            <tr class="bottom_button">
                                
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <div class="cupon_text d-flex align-items-center">
                                      
                                        <a class="primary-btn" href="/buy/{{ product.id }}">Apply</a>
                                       
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <h5>Subtotal</h5>
                                </td>
                                <td>
                                    <h5>$2160.00</h5>
                                </td>
                            </tr>
                           
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        

</html>
{% endblock %}