{% extends 'base.html' %}
{% block content %}

<body>
	<!--================Single Product Area =================-->
	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="s_Product_carousel">
						<div class="single-prd-item">
							<img class="img-fluid" src="{{url_for('static', filename='img/product/' + product.image) }}" height="600px" width="600px" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>{{product.title}}</h3>
						<h2>${{product.price}}</h2>
						<ul class="list">
							<li><a class="active" href="#"><span>Category</span> : {{ product.category }}</a></li>
							<li><a href="#"><span>Наличие:</span> : {{product.availibility}}</a></li>
						</ul>
						<p>{{product.description}}</p>
						<div class="product_count">
							<label for="qty">Quantity:</label>
							<input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
							
						</div>
						<form>
						<div class="card_area d-flex align-items-center">
							<a href="/cart/{{ product.id }}" class="btn btn-primary">Add to Cart</button>
							<a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
							<a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================End Single Product Area =================-->

	<!--================Product Description Area =================-->
</br>
</br>
</br>
</br>
<!-- Start related-product Area -->
	
	<!-- End related-product Area -->


	<script>
		function addToCart(productId) {
			fetch('[your.local.host.]/cart/productId', 
				{method: 'POST'}
			)
		}
		</script>

</html>
{% endblock %}