{% extends 'base.html' %}
{% block content %}
<head>
 <link rel="stylesheet" href="static/style.css" type="text/css">
</head>
<form class="row login_form" action="" id="registration_form" method="POST">
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="col-lg-6">
    </div>
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      {% if form.email.errors %}
							{{ form.email(class="form-control form-control-lg is-invalid", placeholder='Email Address') }}
							<div class="invalid-feedback">
								{% for error in form.email.errors %}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
							{% else %}
							{{ form.email(class="form-control form-control-lg", placeholder='Email Address') }}
							{% endif %}
      
  
      <label for="psw"><b>Password</b></label>
      {% if form.password.errors %}
							{{ form.password(class="form-control form-control-lg is-invalid", placeholder='password') }}
							<div class="invalid-feedback">
								{% for error in form.password.errors %}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
							{% else %}
							{{ form.password(class="form-control form-control-lg", placeholder='password') }}
							{% endif %}
      
  
      <label for="psw-repeat"><b>Repeat Password</b></label>
      {% if form.confirm_password.errors %}
							{{ form.confirm_password(class="form-control form-control-lg is-invalid", placeholder='confirm_password') }}
							<div class="invalid-feedback">
								{% for error in form.confirm_password.errors %}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
							{% else %}
							{{ form.confirm_password(class="form-control form-control-lg", placeholder='confirm_password') }}
							{% endif %}
      <hr>
  
   
    {{ form.submit(class='registerbtn', placeholder='register') }}
    </div>
  
    <div class="container signin">
    </div>
  </form>
  {% endblock %}